<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Document
  </title>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" rel="stylesheet"/>
 </head>
 <body>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
       Entrees
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu" id="entrees">
       <a class="dropdown-item" href="#">
        Jumbo Dog
       </a>
       <a class="dropdown-item" href="#">
        Bacon Burger
       </a>
       <a class="dropdown-item" href="#">
        Original Burger
       </a>
       <a class="dropdown-item" href="#">
        Fried Chicken
       </a>
       <a class="dropdown-item" href="#">
        pasta
       </a>
       <a class="dropdown-item" href="#">
        Jumbo Dog
       </a>
       <a class="dropdown-item" href="#">
        Bacon Burger
       </a>
       <a class="dropdown-item" href="#">
        Original Burger
       </a>
       <a class="dropdown-item" href="#">
        Fried Chicken
       </a>
       <a class="dropdown-item" href="#">
        pasta
       </a>
      </div>
     </div>
    </div>
    <div class="col">
     <div class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
       Sides
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu" id="sides">
       <a class="dropdown-item" href="#">
        Curly Fries
       </a>
       <a class="dropdown-item" href="#">
        Onion Rings
       </a>
       <a class="dropdown-item" href="#">
        Tater Tots
       </a>
       <a class="dropdown-item" href="#">
        Curly Fries
       </a>
       <a class="dropdown-item" href="#">
        Onion Rings
       </a>
       <a class="dropdown-item" href="#">
        Tater Tots
       </a>
      </div>
     </div>
    </div>
    <div class="col">
     <div class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
       Starters
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu" id="starters">
       <a class="dropdown-item" href="#">
        Fried Calamari
       </a>
       <a class="dropdown-item" href="#">
        Fried Mozzerella
       </a>
       <a class="dropdown-item" href="#">
        Garlic Bread
       </a>
       <a class="dropdown-item" href="#">
        Fried Calamari
       </a>
       <a class="dropdown-item" href="#">
        Fried Mozzerella
       </a>
       <a class="dropdown-item" href="#">
        Garlic Bread
       </a>
      </div>
     </div>
    </div>
    <div class="col">
     <div class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
       Drinks
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu" id="drinks">
       <a class="dropdown-item" href="#">
        Dark Beer
       </a>
       <a class="dropdown-item" href="#">
        Light Beer
       </a>
       <a class="dropdown-item" href="#">
        Hard Apple Cider
       </a>
       <a class="dropdown-item" href="#">
        Lemonade
       </a>
       <a class="dropdown-item" href="#">
        Dark Beer
       </a>
       <a class="dropdown-item" href="#">
        Light Beer
       </a>
       <a class="dropdown-item" href="#">
        Hard Apple Cider
       </a>
       <a class="dropdown-item" href="#">
        Lemonade
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container d-flex align-items-end justify-content-center mt-5">
   <div class="mt-5">
    <div class="card mt-5" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title">
       Card title
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
       Card subtitle
      </h6>
      <p class="card-text">
       Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <a class="card-link" href="#">
       Card link
      </a>
      <a class="card-link" href="#">
       Another link
      </a>
     </div>
    </div>
   </div>
  </div>
 </body>
 <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
 </script>
 <script crossorigin="anonymous" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js">
 </script>
</html>
