{% extends "base.html" %}
{% block title %}Place Order{% endblock %}
{% block content %}
  <h2>Menu</h2>

  <!-- Apps -->
  <h3>Apps</h3>
  <div class="menu-category">
    <form method="POST" action="{{ url_for('auth.place_order') }}">
      {% for item in apps %}
        <div class="menu-item">
          {{ item.name }} - ${{ item.price }}
          <input type="checkbox" name="order_item" value="{{ item.name }}|{{ item.category }}|{{ item.price }}">
        </div>
      {% endfor %}
      <input type="submit" value="Place Order" class="btn btn-primary">
    </form>
  </div>
{% endblock %}